:root{
    --clr-dark: 
    --clr-light-accent: 
    --clr-light: 
    --clr-light-plus:
    --clr-mid: "#808080" 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player{           
    width: 65px;            
    position: relative;      
    top: 226px;         
    transform: translateX(-0.3px);   
}

.street{      
    width: 1680px; 
    height: 50px; 
    position: relative;  
    top: 120px;    
}

.object--1{
    width: 80px;
    position: relative;
    left: 70px;
    top: 70px;
}

   



header{
   font-size: 35px;
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: white;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  

  

}

h1{
    color: transparent;
    background-color: gray;
     -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);

    
}




main{
    background-color: white;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pause{
    width: 50px;
    height: 50px;
}

.restart{
    width: 50px;
    height: 50px;
}





footer{
    background-color: white;
    padding: 4rem;
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

